@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');

#cashGivenDiv {
    display: none;
}

#returnChangeDiv {
    display: none;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
    font-family: 'STIX Two Text', serif;
    font-size: 1.1rem;
}

body {
    margin: 0;
}

#bill-amount {
    width: 50%;
    margin: auto;
    padding: 0.4rem;
}

#cash-given {
    width: 50%;
    margin: auto;
    padding: 0.4rem;
}

#next-btn {
    width: 10%;
    margin: auto;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#check-btn {
    width: 10%;
    margin: auto;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#msg-display {
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
}

#caption-return {

    margin-bottom: 1rem;
}

.return-change th,
td {
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
}