@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');

*{
    font-family: 'STIX Two Text', serif;
}

#cashGivenDiv {
    display: none;
}

#returnChangeDiv {
    display: none;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
    font-size: 1.3rem;

}

body {
    margin: 0;
}

#bill-amount {
    width: 50%;
    margin: auto;
    padding: 0.4rem;
}

#cash-given {
    width: 50%;
    margin: auto;
    padding: 0.4rem;
    display: block;
}

#next-btn {
    width: 10%;
    margin: auto;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#check-btn {
    width: 15%;
    border-radius: 0.8rem;
    margin: auto;
    padding: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#msg-display {
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
}

#caption-return {
     margin-bottom: 1rem;
}

.return-change th,
td {
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
}

.footer{
    margin-top: 3rem;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
}

.footerText{
    font-size: 1.3rem;
}

img{
    padding: 0.7rem;
    width: 50px;
}